* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.heading {
    text-align: center;
    font-size: 6rem;
    font-weight: 700;
}

.heading span {
    font-weight: 300;
}

.sub-heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

.sub-sub-heading {
    font-size: 25px;
    text-align: center;
    padding: 28px;
}

.apple-button {
    padding: 8px;
    background-color: black;
    color: white;
    border-radius: 8px;
}

.apple-button1 {
    padding: 8px;
    background-color: #f5f5f5;
    color: black;
    border-radius: 8px;
}

.buttons {
    display: flex;
    align-items: right;
    justify-content: center;
}

.cash {
    background-color: #000;
    color: white;
    border-radius: 50px;
    padding: 3px;
}

.light-text {
    color: #a8a8aa;
    text-align: center;
    padding: 20px;
    font-size: 15px;
}

.navigation {
    background-color: #f5f5f5;
    color: black;
    border-radius: 30px;
    padding: 13px;
}

.image {
    padding: 25px;
    border-radius: 50px;
    height: 40%;
    width: 100%;
}

.box {
    padding: 45px;
    background-color: #ecf4fd;
    border-radius: 40px;

}

.box1 {
    padding: 45px;
    background-color: #ebfafd;
    border-radius: 40px;
    line-height: 2rem;
}

.box-content {
    line-height: 1.5rem;
}

.customization {
    color: #783AF5;
    text-align: center;
    padding: 35px;
}

.main {
    padding: 50px;
    background-color: rgb(0, 174, 255);
    background-image: linear-gradient(to right, rgba(0, 183, 255, 0.685), rgba(0, 110, 255, 0.836));
}

.color {
    border: 2px solid gray;
}

.pic3 {
    width: 12rem;
}

.card2 {
    padding: 80px 40px 40px 40px;
}

.pic {
    border: 2px solid gray;
}

.scroll-heading {
    font-size: 3rem;
    font-weight: 700;

}

.scroll-para {
    font-size: 25px;

    padding: 10px;
}

.margin {
    border: 1.5px solid rgba(0, 183, 255, 0.685);
    border-radius: 30px;
    padding: 10px;
    margin-top: 18px;
}